[Desktop Entry]
Name=Nocta-Dark-beta
X-KDE-PluginInfo-Author=JaggerBK
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=gersonmax@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Nocta-Dark-beta
X-KDE-PluginInfo-Version=1.0.0
